/clases/Conceptos Basicos/nbproject/private/
diagramaBD.img
/tareas/TareaLIBRO/nbproject/private/
/tareas/TareaLibro/nbproject/private/
/tareas/TareaLibro/build/
/tareas/TareaLibro/dist/
/clases/HolaMundo/nbproject/private/
/clases/Conceptos Basicos/build/
/clases/Conceptos Basicos/dist/
